<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Node.js Picture Voting Game</title>

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" />
		<link href="css/styles.css" rel="stylesheet" />

	</head>

	<body>

		<header>
			<h1><span class="green">Cute</span> or <span class="red">NOT?</span></h1>
			<h2>A Node.js Voting Game</h2>
		</header>

		{{{body}}}

		<footer>
            

	</body>
</html>
